@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body { 
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 45px;
}
::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 45px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}
